<link rel="stylesheet" href="../css/main.css">
<%-include('partials/navbar',{page:"/lego/sets"})%>
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">Collection</h1>
                <p class="py-6">
                    Browse the entire collection. Click the theme to filter by themes such as:
                <div class="filter-links">
                    <a href="/lego/sets?theme=technic" class="btn btn-filter">Technic</a>

                    <a href="/lego/sets?theme=basic%20set" class="btn btn-filter">Basic Set</a>
                    <a href="/lego/sets?theme=books" class="btn btn-filter">Books</a>
                </div>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Theme</th>
                            <th>Year</th>
                            <th>Number of Parts</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% sets.forEach(set=> { %>
                            <tr>
                                <td><img src="<%= set.img_url %>" alt="<%= set.name %>" class="avatar"></td>
                                <td>
                                    <%= set.name %>
                                </td>
                                <td>
                                    <a href="/lego/sets?theme=<%= set.theme %>" class="btn btn-theme">
                                        <%= set.theme %>
                                    </a>
                                </td>
                                <td>
                                    <%= set.year %>
                                </td>
                                <td>
                                    <%= set.num_parts %>
                                </td>
                                <td>
                                    <a href="/lego/sets/<%= set.set_num %>" class="btn btn-details">Details</a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>